*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tetxt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.h1{
    width: 200px;
    height: 200px;
    font-size: 70px;
    background-color: red;
}
