* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}
.square {
  width: 500px;
  height: 500px;
  background: green;
}

.square:hover {
  background-color: red;
  color: aliceblue;
  border-radius: 50%;
}
.dura {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
